.header__form {
  width: 368px;
  height: 549px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  z-index: 1;
  position: relative;
  top: 50px;

  &-title {
    display: flex;
    height: 50px;
    background: #efefef;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 23px;
    line-height: 110%;
    text-align: center;
    color: #313131;
    margin-bottom: 13px;
  }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 5px 15px;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.1px;
  color: #6d6d6d;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #313128;
  border-radius: 2px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background: #313128;
  border-radius: 2px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form__label {
  font-weight: 300;
  font-size: 15px;
  line-height: 110%;
  color: #373737;
  margin: 15px;
}

.form__input {
  width: 338px;
  height: 31px;
  border: 1px solid #b4b3b3;
  border-radius: 5px;
  padding-left: 7px;
  margin: 0 15px 10px;
}

.form__button {
  width: 338px;
  height: 54px;
  background: #22a6f0;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 15px 20px;
  cursor: pointer;
  transition: background 1s;

  &:hover {
    background: #1e8dce;
  }

  &:disabled {
    background: #9bb6c5;
  }
}

.header__description {
  font-size: 13px;
  line-height: 120%;
  text-align: center;
  color: #6d6d6d;
  margin: 15px 15px;
}

.payment__container {
  display: flex;
  height: 50px;
  background: #efefef;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.payment_image {
  width: 273px;
  margin: 0 auto;
}

.form_error {
  border: 1px solid #d40b0b;
  color: #d40b0b;
}

@media (max-width: 1199px) {
  .header__form {
    top: 323px;
  }
}

@media (max-width: 767px) {
  .header__form {
    top: 192px;
    width: 336px;
  }

  .form__input {
    width: 306px;
  }

  .form__button {
    width: 306px;
  }

  .container {
    font-size: 12px;
  }
}
