.header {
  position: relative;
  display: flex;
  background-image: url("../../../public/background.svg");
  width: 100%;
  height: 630px;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    width: 1180px;
    align-items: center;
    justify-content: flex-end;
  }

  &__text {
    align-items: center;
    margin-right: 212px;

    &-title {
      font-weight: 900;
      font-size: 55px;
      line-height: 110%;
      color: #ffffff;
      margin: 0;
      width: 450px;
      text-align: center;
    }

    &-subtitle {
      font-weight: 800;
      font-size: 35px;
      line-height: 110%;
      color: #ffffff;
      margin: 0;
      text-align: center;
    }

    &-desc {
      font-weight: 800;
      font-size: 25px;
      line-height: 120%;
      color: #ffffff;
      position: absolute;
      bottom: 25px;
      display: flex;

      &-img {
        margin-left: 20px;
      }
    }
  }

  &__end-line {
    width: 100%;
    height: 83px;
    background: #000000;
  }
}

.main__content {
  width: 1180px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 60px auto;

  &-title {
    font-weight: 800;
    font-size: 36px;
    line-height: 110%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
    grid-area: 1 / 1 / 2 / 3;
  }

  &-image {
    grid-area: 2 / 1 / 4 / 2;
  }

  &-text {
    width: 794px;
    grid-area: 2 / 2 / 3 / 3;

    &-paragraph {
      margin: 0 0 30px;
    }
  }

  &-button {
    grid-area: 3 / 2 / 4 / 3;
    width: 350px;
    height: 66px;
    background: #000000;
    border-radius: 8px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: background 1s;

    &:hover {
      background: #ffffff;
      color: #000000;
      border: 1px solid #000000;
    }
  }
}

.additional__content {
  height: 335px;
  width: 100%;
  background: #ececec;

  &-title {
    font-weight: 900;
    font-size: 28px;
    line-height: 108.6%;
    text-align: center;
    padding: 50px 0 40px;
  }

  &-container {
    display: flex;
    justify-content: center;
  }

  &-triangle {
    width: 56px;
    height: 35px;
    border: 30px solid transparent;
    border-top: 35px solid #ececec;
    margin: 0 auto;
  }
}

.container__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin-left: 30px;

  &-image {
    width: 103px;
    height: auto;
  }

  &-text {
    text-align: center;
    margin-top: 16px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  margin: 40px 0 45px;
  align-items: center;

  &__image {
    width: 372px;
    margin-top: 26px;
  }

  &__button {
    width: 500px;
    height: 66px;
    background: #000000;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #ffffff;
    font-family: "Montserrat";
    cursor: pointer;
    transition: background 1s;

    &:hover {
      background: #ffffff;
      color: #000000;
      border: 1px solid #000000;
    }
  }
}
